@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

main {
    margin: 0 15% 0 15%;
}

a {
    text-decoration: none;
    color: red;
}

/*--------Navbar--------*/

.navbar {
    background-color: rgb(10, 10, 10);
    border: red 1px solid;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    border: blue 1px solid;
    flex: 1;
    list-style: none;
}

.item {
    padding: 5px;
    flex: 1;
    border: yellow 1px solid;
}

.nav-link {
    color: aliceblue;
}


/*--------Artigos--------*/

header {
    display: flex;
    border: yellow 1px solid;
}

article {
    border: paleturquoise 1px solid;
    display: flex;
}

.img1 {
    border: blue 1px solid;
}

.t1 {
    border: red 1px solid;
}